<?xml version="1.0"?>

<model>
  <name>mapa_rover</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>ALejandro Montes</name>
    <email>hmontes@unal.edu.co</email>
  </author>

  <description>
    Terreno irregular que simula ambiente con dunas para pruebas de campo de rover de exploracion
  </description>

</model>
