<?xml version="1.0"?>
<robot name="kobuki_gps_sim" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:arg name="gps_visual" default="true"/>

    <gazebo>
        <plugin name="novatel_gps_sim" filename="libhector_gazebo_ros_gps.so">
            <alwaysOn>1</alwaysOn>
            <updateRate>10.0</updateRate>
            <bodyName>IMU</bodyName>
            <topicName>rover/gps/pos</topicName>
            <velocityTopicName>rover/gps/vel</velocityTopicName>
            <drift>0.0 0.0 0.0</drift>
            <gaussianNoise>0.00000000001 0.00000000001 0.00000000001</gaussianNoise>
            <velocityDrift>0 0 0</velocityDrift>
            <velocityGaussianNoise>0.0 0.0 0.0</velocityGaussianNoise>
            <referenceLatitude>0</referenceLatitude>
            <referenceLongitude>0</referenceLongitude>
        </plugin>
    </gazebo>


</robot>