<?xml version="1.0"?>
<launch>
    <!-- MAPA DE PRUEBAS-->
    <arg name="mapa_lomas" default="$(find rover)/worlds/mapa.world"/>
    <arg name="mapa_dinamico" default="$(find rover)/worlds/calibracion_dinamico.world"/>
    <arg name="mapa_estatico" default="$(find rover)/worlds/calibracion_estatico.world"/>

    <!-- OPEN GAZEBO -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg mapa_estatico)"/> 
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="paused" value="false"/>
    </include>
</launch>